.container-fluid.top-50
  .row
    .col-1
    .col-10
      .row
        .col-8
          %h2 Thank you for signing up!
          %p
            %strong How to use CarePaths EHR
          %p
            As a patient, you are given a portal. Your clinician will give you
            access to the portal. When in the portal you can pay your bill, update
            documents, complete daily/weekly monitoring questions, etc.
          %p
            = link_to 'Get Started', dashboard_path, class: 'btn btn-success'
        .col-4
    .col-1
